.Icon--btt {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB/UlEQVQ4T6WSzWsTURTF77kzk4+NigjiUlBaFHTnxoVa0H/AjYsKRaQGkkxqx09swphMUGiStjMjWtOC4kZcFFyKi9KlKxUkBv8CKXQhtpUm896VRCKVpiLxru7jcn+8c+4Bbaur5dmD+7b4lFiYENBxgL6TEIlgDyCf0JLZdWy9e3L/5mpvDb3GKQVZAR5CJNKQZRY+q7VuEEAMHCOWZdI0IiCTtdyuFOyws9sFTJTnDxm61VSa5tjA2JuPK0fODJ8+mbCQAhuao838tHtr1fGCpoBfkkjKiHBi2k1/7QDglIOGaLzVqv0Mhvl6Q60NPXXdze3yiFx2vP1NFdEdZpyDgfPVe5lh2MVw3ARK68o8nJQfVbJ4aG7KHvlz+dfrejlcIq2UkWiN6Va8oWAUMVnyvymGawqWiOQLES9Up9LpfgDHCx4DdKXd1kfZil2EjlzY5fCSpWWeuOM3JbSi5zOF7LV+gMlSsECgCxDa25lHoPGuiY5bOaDMxChEp0iwsiugGNYFYgnwob1BLx49yKz9PmNXY8lv/hXghYuiJTZTyF7ekYN/ATjFcFEgsVp+QMCNjgdE8cqgAMcL6yQ6Wc3bo4NKqBP+C+DXCZys5jP9f+B4wWdR9J4Mw++XA4bKac1RLZ/e5QqFWo7iMZulG6odJSBESt31C7lXveFP713/VEW8fgsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat !important;
    background-size: 16px 16px !important;
    background-position: left bottom !important;
    width: 18px !important;
    height: 18px !important;
}

.Icon--btt:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACJUlEQVQ4T53TTWhTQRAA4Jnd916SJqloFU3SohGlVUFvnmNFPShNohcPFavQJKVqvakHoejFi+AfLe+9CEovIhgSD4KIVC+CB1FQ0iBVeGnjT8Rq2jQ1Zn8kwUjVWCRz2mWYD2Z2FmFR7DSLqx28uF2B8klB1C2Ick5W8wJaqWSvKmC7NCOdT58MuPP1Mqwf9o9MHGfqigtSSqZAeZyDLYCCpQEBJCqbCVTGOajdgKhobObUnYFN16q1NWDPmPRopY8ZQfCygrxv8r5nw/rA222o0BgCFQW2/OyjQWe+J/4uw9F+i/LvMaau2XrvCH6o+UEjl6aCPfjq9N5wL+RT09LX+SyKpcXtwbAkPd5chqN62ibmd3Ci7Ur1t3fh3hErQql6Pgcev49nLwKFzrvRtd2/Ff+8BI2pBBEV/qbF3+f/lksjsnO4T39fQODDnLYlCMy/1kQxnoisG2wEhA1rlJGWowvctVGjXw5QjsMYNiYPcnDpgCAFKHaFz91MxvzRRkDIyMY50XaDgGUoARRZiNSGGNBnV7qh2EuAx1Cyx/8CgrplIlCVE/KipLnGHh5u/fzrGatQUJ/KLAWE9Ox1ANSS0Y5Df+3B/wNES0bbmwSMbBwksTUNhE3LFJI4UpGO3qZaCOuWKVBxpCK+JoFRyxR0KcCYnpCAzyvqqiuN9kCrfBpCRJbs9zYeYujqyyFubztBAGq/+M+QAEjKs2eSx7pu13M/AA+ZBSb4lXRQAAAAAElFTkSuQmCC') !important;
}

.btt-body {
    width: 520px;
    height: 520px;
    background-image: url('http://btt.brbrb.us/Gear.gif');
    background-position: center center;
}

.btt-body > img {
    width: 100%;
}

.btt-footer {
    background: rgba(31,152,199,0.1);
    padding: 12px;
}

.btt-user {
    font-size: 14px;
    margin-top: -4px;
    padding-bottom: 8px;
    color: #657786;
}

.btt-handle {
    color: rgb(31, 152, 199);
}
