<!DOCTYPE html>
<html>
  <head>
    <title>Order complete</title>
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhCRILBx3G3oodAAABI0lEQVQoz9XSPUubURjG8Z9JhNQY31ADUXAREeyijRSd8gnEqXZzySCK4kfwIyg6WtDBJehuQcHFh0IFXxDRwaVOFooUjaAR4xCflATq7rXch3P/ue7r3Jw6ZdXpNGjUiDtPYhoFAkd+K0EUNMhZ0O5Ct8CWZx0OZU354EwxxGb0+GPHhp8++qxg0a6iNkl9fpQHZqxrlTNdCVDWhHmt1mSISJiUdyOh8Nouvda/mt3YNCkR8dW971oMOVKtS73abLs3QWAMs46larCUE3MYsx+zbNywAVciNVjEL1md0laiTh3otyNtz20V1uSTvCZLgvAq6Zt0jVuXVcnQ+P8qVVbzJlYV891jscrj4zKu/61ASUo8/AYh9ujcF8Uqi3rnHsrHF2a1Qyd0MrrfAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE3LTA5LTE4VDExOjA3OjI5LTA3OjAwCyAS3gAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNy0wOS0xOFQxMTowNzoyOS0wNzowMHp9qmIAAAAASUVORK5CYII=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <p>&nbsp;</p>
        <div class="jumbotron">
          <h1>Order complete</h1>
          <p>Your order is complete!</p>
          <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
