<!DOCTYPE html>
<html>
  <head>
    <title>Checkout page</title>
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhCRILBx3G3oodAAABI0lEQVQoz9XSPUubURjG8Z9JhNQY31ADUXAREeyijRSd8gnEqXZzySCK4kfwIyg6WtDBJehuQcHFh0IFXxDRwaVOFooUjaAR4xCflATq7rXch3P/ue7r3Jw6ZdXpNGjUiDtPYhoFAkd+K0EUNMhZ0O5Ct8CWZx0OZU354EwxxGb0+GPHhp8++qxg0a6iNkl9fpQHZqxrlTNdCVDWhHmt1mSISJiUdyOh8Nouvda/mt3YNCkR8dW971oMOVKtS73abLs3QWAMs46larCUE3MYsx+zbNywAVciNVjEL1md0laiTh3otyNtz20V1uSTvCZLgvAq6Zt0jVuXVcnQ+P8qVVbzJlYV891jscrj4zKu/61ASUo8/AYh9ujcF8Uqi3rnHsrHF2a1Qyd0MrrfAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE3LTA5LTE4VDExOjA3OjI5LTA3OjAwCyAS3gAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNy0wOS0xOFQxMTowNzoyOS0wNzowMHp9qmIAAAAASUVORK5CYII=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
<style>
.subtotal td, .subtotal th {
  padding: .25em;
}

#submit-help {
  padding: .75em;
  display: none;
}

body {
  position: relative; /* required for scrollspy */
  padding-top: 50px;
  padding-bottom: 200px;
}

.tweet-text {
  font-size: 14px;
  line-height: 20px;
  padding: .5em;
  border-left: 2px solid #c0deed;
  border-right: 2px solid #c0deed;
}

</style>

<script>

$(document).ready(function(){
  $('#same-as-shipping').change(function() {
    if (this.checked) {
      $('#billing-details').hide(400);
    } else {
      $('#billing-details').show(400);
    }
    $('#billing-form input').parent().removeClass('has-error');
  });

  $('.form-group input, .form-group select').change(function() {
    $(this).parent().removeClass('has-error');
  });

  $("#the-form").submit(function(e){
    e.preventDefault();
  });
});

(function () {
  var required_fields = [
    "email", "full-name", "address-line1", "city", "region", "country"
  ];

  var billing_required_fields = [
    "billing-full-name", "billing-address-line1", "billing-city", "billing-region", "billing-country"
  ];

  var validate = function(updateUI) {
    var missingFields = false;
    var notChecked = false;

    if (!$('#same-as-shipping').prop('checked')) {
      required_fields = required_fields.concat(billing_required_fields);
    }

    for (var i = 0; i < required_fields.length; i++) {
      var el = $('#' + required_fields[i]);
      if (el.val().length === 0) {
        updateUI && el.parent().addClass('has-error');
        missingFields = true;
      } else {
        updateUI && el.parent().removeClass('has-error');
      }
    }

    if (!$('#like-tos').prop('checked')) {
      notChecked = true;
    }

    var isValid = !missingFields && !notChecked;

    if (updateUI) {
      if (missingFields) {
        $('#submit-help').text("please fix required fields");
      } else if (notChecked) {
        $('#submit-help').text("Don't you like the terms of service?");
      }

      if (!isValid) {
        $('#submit-help').show(300);
      } else {
        $('#submit-help').hide(300);
      }
    }

    return isValid;
  };

  var shipping_details = {
    recipient_name: "",
    line1: "",
    line2: "",
    city: "",
    country_code: "",
    postal_code: "",
    phone: "",
    state: ""
  };

  var transaction_definition = {
    amount: { total: '{{ total_cost }}', currency: 'USD' },
    details: {
      subtotal: "{{ subtotal }}",
      tax: "{{ tax }}",
      shipping: "{{ shipping_cost }}"
    },
    item_list: {
      items: [
        {
          name: "{{ product_name }}",
          quantity: "{{ quantity }}",
          price: "{{ subtotal }}",
          sku: "{{ product_type }}-{{ tweet_id }}",
        },
      ],
      shipping_address: shipping_details
    }
  };

  var update_payment_shipping = function() {
    shipping_details.recipient_name = $('#full-name').value();
    shipping_details.line1 = $('address-line1').value();
    shipping_details.line2 = $('address-line2').value();
    shipping_details.city = $('city').value();
    shipping_details.country_code = $('country').value();
    shipping_details.postal_code = $('postal-code').value();
    shipping_details.phone = $('phone').value();
    shipping_details.state = $('region').value();
  };

  var payment_definition = {

    env: 'sandbox', // sandbox | production

    style: {
      label: 'buynow',
      fundingicons: true, // optional
      branding: true, // optional
      size:  'small', // small | medium | large | responsive
      shape: 'rect',   // pill | rect
      color: 'gold'   // gold | blue | silve | black
    },

    // Create a PayPal app: https://developer.paypal.com/developer/applications/create

    client: {
      sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
      production: '<insert production client id>'
    },

    validate: function(actions) {
      if (validate(false)) {
        actions.enable();
      } else {
        actions.disable();
      }
    },

    onClick: function() {
      validate(true);
    },

    payment: function(data, actions) { // user clicks on pay button
      update_payment_shipping();
      return actions.payment.create({
        transactions: [ transaction_definition ]
      });
    },

    onAuthorize: function(data, actions) { // user finishes payment
      $('#payment_data').value(JSON.stringify(actions.payment));
      $('#the-form').submit();

      // To execute payment immediately:
      //return actions.payment.execute().then(function() {
        //window.alert('Payment Complete!');
      //});
    }
  };

  paypal.Button.render(payment_definition, '#paypal-button');
})();

</script>
  </head>
<body data-spy="scroll" data-target=".navbar" data-offset="100">

<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="#preview">Preview</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#shipping">Shipping</a></li>
      <li><a href="#billing">Billing</a></li>
      <li><a href="#payment">Payment</a></li>
    </ul>
  </div>
</nav>

<div class="container">
<form id="theform" method="POST" action="/order_finished">

<input type="hidden" name="product_type" value="{{ product_type }}">
<input type="hidden" name="size" value="{{ size }}">
<input type="hidden" name="quantity" value="{{ quantity }}">
<input type="hidden" name="color" value="{{ color }}">
<input type="hidden" name="tweet_id" value="{{ tweet_id }}">
<input type="hidden" name="subtotal" value="{{ subtotal }}">
<input type="hidden" name="tax" value="{{ tax }}">
<input type="hidden" name="shiping_cost" value="{{ shiping_cost }}">
<input type="hidden" name="total_cost" value="{{ total_cost }}">
<input type="hidden" id="payment_data" name="payment_data" value="">

<div class="page-header" id="preview">
<h1>Preview <small>Step 1 of 5</small></h1>
</div>

<!-- product details -->
<div class="row">
  <div class="col-sm-6 col-md-4 well">
    <div class="thumbnail">
      <img src='{{ preview_img }}' height=300 width=250>
      <div class="caption">
        <h3>{{ product_name }}</h3>
        <p class="tweet-text">{{ tweet_text|safe }}</p>
        <table class="subtotal ">
        <tr><th>Size:</td><td>{{ size|title }}</td></tr>
        <tr><th>Color:</td><td>{{ color|title }}</td></tr>
        <tr><th>Quantity:</td><td>{{ quantity }}</td></tr>
        <tr><th>Subtotal:</td><td>${{ subtotal|round(2) }}</td></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="page-header" id="contact">
<h1>Contact <small>Step 2 of 5</small></h1>
</div>

  <div class="row">
    <div class="col-xs-4">
        <div class="form-group">
            <label class="control-label">Contact email</label>
                <input id="email" name="email" type="email" placeholder="you@example.com"
                class="form-control form-control-large">
            <p class="help-block">Email address to keep track of this order</p>
        </div>
    </div>
  </div>

  <div class="page-header" id="shipping">
  <h1>Shipping <small>Step 3 of 5</small></h1>
  </div>

  <div class="row">
    <div class="col-xs-4">

                <!-- full-name input-->
                <div class="form-group">
                    <label class="control-label">Full Name</label>
                        <input id="full-name" name="full-name" type="text" placeholder="full name"
                        class="form-control form-control-large">
                </div>
                <!-- address-line1 input-->
                <div class="form-group">
                    <label class="control-label">Address Line 1</label>
                        <input id="address-line1" name="address-line1" type="text" placeholder="address line 1"
                        class="form-control form-control-large">
                        <p class="help-block">Street address, P.O. box, company name, c/o</p>
                </div>
                <!-- address-line2 input-->
                <div class="form-group">
                    <label class="control-label">Address Line 2</label>
                        <input id="address-line2" name="address-line2" type="text" placeholder="address line 2"
                        class="form-control form-control-large">
                        <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                </div>
                <!-- city input-->
                <div class="form-group">
                    <label class="control-label">City / Town</label>
                        <input id="city" name="city" type="text" placeholder="city" class="form-control form-control-large">
                </div>
                <!-- region input-->
                <div class="form-group">
                    <label class="control-label">State / Province / Region</label>
                        <input id="region" name="region" type="text" placeholder="state / province / region"
                        class="form-control form-control-large">
                </div>
                <!-- postal-code input-->
                <div class="form-group">
                    <label class="control-label">Zip / Postal Code</label>
                        <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code"
                        class="form-control form-control-large">
                </div>
                <!-- postal-code input-->
                <div class="form-group">
                    <label class="control-label">Contact Phone</label>
                        <input id="billing-phone" name="phone" type="tel" placeholder="(000) 000-0000"
                        class="form-control form-control-large">
                </div>
                <!-- country select -->
                <div class="form-group">
                    <label class="control-label">Country</label>
                        <select id="country" name="country" class="form-control form-control-large">
                            <option value="" selected="selected">(please select a country)</option>
                            <option value="US">United States</option>
                            <option value="CA">Canada</option>
                            <option value="JP">Japan</option>

                        </select>
                </div>
</div>
  </div>

<div class="page-header" id="billing">
<h1>Billing address <small>Step 4 of 5</small></h1>
</div>

  <div class="row">
    <div class="col-xs-4">
       <div class="checkbox">
          <label>
            <input type="checkbox" id="same-as-shipping"> Same as shipping address
          </label>
        </div>
        <div id="billing-details">

        <!-- full-name input-->
        <div class="form-group">
            <label class="control-label">Full Name</label>
                <input id="billing-full-name" name="billing-full-name" type="text" placeholder="full name"
                class="form-control form-control-large">
        </div>
        <!-- address-line1 input-->
        <div class="form-group">
            <label class="control-label">Address Line 1</label>
                <input id="billing-address-line1" name="billing-address-line1" type="text" placeholder="address line 1"
                class="form-control form-control-large">
                <p class="help-block">Street address, P.O. box, company name, c/o</p>
        </div>
        <!-- address-line2 input-->
        <div class="form-group">
            <label class="control-label">Address Line 2</label>
                <input id="billing-address-line2" name="billing-address-line2" type="text" placeholder="address line 2"
                class="form-control form-control-large">
                <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
        </div>
        <!-- city input-->
        <div class="form-group">
            <label class="control-label">City / Town</label>
                <input id="billing-city" name="billing-city" type="text" placeholder="city" class="form-control form-control-large">
        </div>
        <!-- region input-->
        <div class="form-group">
            <label class="control-label">State / Province / Region</label>
                <input id="billing-region" name="billing-region" type="text" placeholder="state / province / region"
                class="form-control form-control-large">
        </div>
        <!-- postal-code input-->
        <div class="form-group">
            <label class="control-label">Zip / Postal Code</label>
                <input id="billing-postal-code" name="billing-postal-code" type="text" placeholder="zip or postal code"
                class="form-control form-control-large">
        </div>
        <!-- postal-code input-->
        <div class="form-group">
            <label class="control-label">Contact Phone</label>
                <input id="billing-phone" name="billing-phone" type="tel" placeholder="(000) 000-0000"
                class="form-control form-control-large">
        </div>
        <!-- country select -->
        <div class="form-group">
            <label class="control-label">Country</label>
                <select id="billing-country" name="billing-country" class="form-control form-control-large">
                    <option value="" selected="selected">(please select a country)</option>
                    <option value="US">United States</option>
                    <option value="CA">Canada</option>
                    <option value="JP">Japan</option>
                </select>
        </div>

      </div>
</div>
  </div>

<div class="page-header" id="payment">
<h1>Payment <small>Step 5 of 5</small></h1>
</div>

<div class="row">
  <div class="col-xs-4">
     <div class="checkbox">
        <label>
          <input type="checkbox" id="like-tos" name="like-tos"> I totally agree with the terms of service
        </label>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <h3>Totals</h3>
    <table class="subtotal ">
    <tr><th>Men's {{size|title}} T-shirts x {{quantity}}:</td><td>${{subtotal|round(2)}}</td></tr>
    <tr><th>Shipping</td><td>${{shipping_cost|round(2)}}</td></tr>
    <tr><th>Tax</td><td>${{tax|round(2)}}</td></tr>
    <tr><th>Total cost</td><td>${{total_cost|round(2)}}</td></tr>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-xs-4">
    <p>&nbsp;</p>
    <div id="paypal-button"></div>
    <p class="bg-danger" id="submit-help"></p>
  </div>
</div>

</form>
</div>
  </body>
</html>
