<html>
<head>
<style>
#birdicon {
  width: 2.5em;
  height: 2.5em;
  position: relative;
  z-index: 100;
  top: -2em;
  left: 412px;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>

jQuery(document).ready(function() {
  jQuery('.twitter-block').delegate('#twitter-widget-0','DOMSubtreeModified propertychange', function() {
    customizeTweetMedia();
   });

   var customizeTweetMedia = function() {
    // janky css hacking. this should be moved to the client (extension)

    jQuery('.twitter-tweet').contents().find('.FollowButton').css('display', 'none');
    jQuery('.twitter-tweet').contents().find('.tweet-InformationCircle').css('display', 'none');
    jQuery('.twitter-tweet').contents().find('.Tweet-actions').css('display', 'none');
    jQuery('.twitter-tweet').contents().find('.EmbeddedTweet').css('border-color', '#c0deed');
    jQuery('.twitter-tweet').contents().find('.EmbeddedTweet').css('border-width', '6px');
    jQuery('.twitter-tweet').contents().find('.EmbeddedTweet').css('border-radius', '18px');

    jQuery('.twitter-tweet').contents().find('.EmbeddedTweet--mediaForward .EmbeddedTweet-tweet').css('border-width', '6px');
    jQuery('.twitter-tweet').contents().find('.EmbeddedTweet--mediaForward .EmbeddedTweet-tweet').css('border-top', '0');
    jQuery('.twitter-tweet').contents().find('.EmbeddedTweet--mediaForward .EmbeddedTweet-tweet').css('border-radius', '18px');
    jQuery('.twitter-tweet').contents().find('.EmbeddedTweet--mediaForward .EmbeddedTweet-tweet').css('border-color', '#c0deed');
    jQuery('.twitter-tweet').contents().find('.EmbeddedTweet--mediaForward .EmbeddedTweet-tweet').css('border-top-left-radius', '0');
    jQuery('.twitter-tweet').contents().find('.EmbeddedTweet--mediaForward .EmbeddedTweet-tweet').css('border-top-right-radius', '0');

    // weirdly this "resets" the height.
    // the height defined in css is sometimes slightly wrong, removing the param somehow triggers something to recalculate it to the true value.
    jQuery('#twitter-widget-0').css('height', 0);
  };

  // wasn't able to get this to trigger on load, so whatever
  window.setTimeout(customizeTweetMedia, 800);
});

</script>
</head>
<body>

{{ embed|safe }}

<img id=birdicon src=static/icon.svg>
</body>
</html>
