[Unit]
Description=buythistweet http service
After=network.target

[Service]
PIDFile=/run/buythistweet/pid
User=buythistweet
Group=buythistweet
WorkingDirectory=/opt/buythistweet
Environment=CHROME_PATH=/usr/bin/google-chrome
Environment=PRE_RENDER_ENABLED=false
ExecStart=/opt/virtualenv/buythistweet/bin/gunicorn --pid /run/buythistweet/pid   \
          --workers 4 --bind 127.0.0.1:5000  server:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target